fastapi
uvicorn

langchain
langchain-community
langchain-core

langchain-pinecone
langchain-text-splitters

pinecone-client

pymongo
redis

pydantic-settings
httpx

python-dotenv

tiktoken
pypdf
sentence-transformers
