fastapi
uvicorn

langchain==0.2.11
langchain-community==0.2.11
langchain-core==0.2.11

langchain-pinecone==0.1.3
langchain-text-splitters==0.2.0

pinecone-client

pymongo
redis

pydantic-settings
httpx

python-dotenv

tiktoken
pypdf
sentence-transformers
