fastapi
uvicorn

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-pinecone
langchain-text-splitters
langchain-huggingface
pinecone

pymongo
redis

pydantic
pydantic-settings

python-dotenv

httpx

tiktoken
tqdm

pypdf   

sentence-transformers  

google-generativeai  # if using Gemini (choose one)
